version: '3.7'

services:
  flux:
    image: postgres:16
    container_name: flux
    environment:
      POSTGRES_PASSWORD: m12345
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - flux-network

  my-redis:
    image: redis:latest
    container_name: my-redis
    ports:
      - "6379:6379"
    networks:
      - flux-network

#  discovery-service:
#    build:
#      context: ./services/discovery-service
#    container_name: discovery-service
#    ports:
#      - "8761:8761"
#    networks:
#      - flux-network
#
#  config-service:
#    build:
#      context: ./services/config-service
#    container_name: config-service
#    ports:
#      - "8888:8888"
#    depends_on:
#      - discovery-service
#    networks:
#      - flux-network
#    environment:
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
#
#  user-management-service:
#    build:
#      context: ./services/user-management-service
#    container_name: user-management-service
#    ports:
#      - "8081:8081"
#    depends_on:
#      - flux
#      - my-redis
#      - config-service
#    networks:
#      - flux-network
#    environment:
#      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-service:8888
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://flux:5432/postgres
#      - SPRING_DATA_REDIS_HOST=my-redis
#
#  calendar-service:
#    build:
#      context: ./services/calendar-service
#    container_name: calendar-service
#    ports:
#      - "8082:8082"
#    depends_on:
#      - flux
#      - my-redis
#      - config-service
#    networks:
#      - flux-network
#    environment:
#      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-service:8888
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://flux:5432/postgres
#      - SPRING_DATA_REDIS_HOST=my-redis

networks:
  flux-network:
    driver: bridge

volumes:
  postgres_data:
